@media only screen and (max-width: 600px) {

.main-container {
    flex-direction: column;
}

/*first and second columns of main*/
.main-firstHalf {
    width: 92%;
    margin:auto;
}

.main-secondHalf {
    width: 92%;
    margin: auto;
}

/*nav bar (1st row, while supplies last...)*/
.nav1-container {
    display:none;
}

/*nav LOGO, SEARCH BAR, SIGN IN, etc (second row)*/
.nav-2ndRow-container {
    display:none; 
}

/*HIDDEN nav LOGO, SEARCH BAR, SIGN IN, etc (second row)*/
.nav-2ndRow-container-hidden {
    display:block;
}

/*Navbar blue, shop all departments...*/
.navbar-blue-container {
    display:none;
}

/*Welcome to the costco employee website*/
.welcome-chris {
    flex-direction: column;
    font-size: 35px;
}

/*pay card & historical ePayroll*/
.payCard-container {
    flex-direction: column;
}

.payCard-1 {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.payCard-2 {
    width: 100%;
    margin: auto;
}

/*employee job bank & journeys*/
.jobBank-journeys-container {
    flex-direction: column;
}

.jobBank-container {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.journeys-container {
    width: 100%;
    margin: auto;
}

/*costco today*/
.costcoToday-info {
    flex-direction: column;
}

.costcoToday-info div{
    width: 100%;
}

/*Footer row one*/
.footer-one {
    display:none;
}

/*Footer row one HIDDEN*/
.footer-one-hidden {
    display: block;
}

/*Footer row two HIDDEN*/
.footer-two {
    display:none;
}

.footer-two-hidden {
    display:block;
}

/*Footer row three*/
.footer-three-container {
    padding-top: 30px;
}

.footer-three-items {
    line-height: 25px;
}

.footer-three-item {
    margin-right: 6px;
}

.footer-three-text {
    font-size: 12px;
}